*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Remove number input arrows for Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
